<h1>This is Home Page</h1>

{{#if loggedIn}}
  <p><a href="/account/profile">Click here to view profile</a></p>
  <p><a href="/account/logout">Click here to logout</a></p>
{{else}}
  <p><a href="/account/login">Click here to login</a></p>
  <p><a href="/account/signup">Click here to create account</a></p>
{{/if}}