.card-content {
    margin-top: 16px;
    visibility: visible;
    display: block;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 16px;
    font-family: 'Special Gothic Condensed One', sans-serif;
    color: #3C3744;
}

.list-content {
    padding-left: 20px;
}

.move-handle {
    cursor: move;
    display: none;
    color: #3D52D5;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.move-handle:hover {
    opacity: 1;
}