<div class="z-[1] scroll-content h-[1000px] bg-light bg-[radial-gradient(circle,_#000_1px,_transparent_1px)] bg-[size:20px_20px] pt-[80px]">
  <div class="font-main text-center font-bold text-[70px] text-mid_color fixed top-[20%] left-[50%] z-[30]">Ball Knowledge</div>
  <div class="parallax4 mt-[500px] ml-[200px] w-[100px] h-[100px] bg-dark z-[1]"></div>
  <img src="/public/images/Jordan.png" class="parallax6 ml-[400px] w-[300px] h-[300px] z-[1]" alt="Jordan" />
  <img src="/public/images/Lebron.png" class="parallax5 ml-[700px] mt-[-100px] w-[300px] h-[300px] z-[1]" alt="Lebron" />
  <img id="lebronimation" class="fixed parallaxlbj bottom-0 max-w-[90vh] max-h-[90vh] z-[1] object-contain" src="/public/images/lebronimation/0.png" alt="frame animation" />
  <img id="patimation" class="fixed bottom-0 max-w-[90vh] max-h-[90vh] object-contain z-[1]" src="/public/images/patimation/frame_0001.png" alt="frame animation" />
  <div class="absolute top-[500px] left-[300px]">Welcome to Ball Knowledge</div>
</div>