
<div class="matchups">
    <main>
        <h2>Available Sports Leagues</h2>
        <nav>
            <ul>
                <li>
                    <a id="linkMLB" href="/matchups/baseball_mlb">MLB</a>
                </li>
                <li>
                    <a id="linkNBA" href="/matchups/basketball_nba">NBA</a>
                </li>
                <li>
                    <a id="linkNHL" href="/matchups/icehockey_nhl">NHL</a>
                </li>
            </ul>            
        </nav>
    </main>
</div>

    {{!-- if(strVal !== "icehockey_nhl" && strVal !== "basketball_nba" && strVal !== "baseball_mlb" && strVal !== "basketball_nba_championship_winner"){ --}}
