<div class="card-content">
    {{#if content}}
        {{#each content}}
            <p><strong>{{this.label}}:</strong> {{this.value}}</p>
        {{/each}}
    {{else}}
        <p>No content available</p>
    {{/if}}
</div>